@media screen {
  .dropdownContainer {
    gap: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    padding: 10px;
    cursor: pointer;
    position: relative;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-light-color);

  }

  .dropdownContainer span {
    font-size: 1rem;
    font-family: var(--font-poppins-light);

  }

  .dropdownInput {
    gap: 10px;
    width: 100%;
    display: flex;
    position: relative;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
  }

  .dropdownIcon {
    font-size: 24px;
  }

  /* Styles for portal options */
  .dropdownOption:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color) !important;
  }
}

/* Tablet and larger devices (768px and up) */
@media only screen and (min-width: 48em) {
  .dropdownContainer {
    min-width: 120px;
  }
}