@media screen {
  .dashboardContainer {
    gap: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content {
    gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: var(--background-color);
  }

  .emptyCard {
    width: 100%;
    height: 350px;
    display: flex;
    flex: 1 1 auto;
    border-radius: 15px;
    box-shadow: var(--shadow-box);
  }

  .adminControls {
    gap: 10px;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    border-radius: 15px;
    align-items: center;
    justify-content: end;
    background-color: var(--background-color);
  }

  .statusBadge {
    width: 100px;
    padding: 5px;
    display: flex;
    text-align: center;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
  }

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .statusApproved {
    color: var(--tertiary-color);
    background-color: var(--background-dark-color);
  }

  .statusFailed {
    color: var(--secondary-color);
    background-color: var(--secondary-light-color);
  }

  .statusPending {
    color: var(--pending-color);
    background-color: var(--pending-light-color);
  }

  .searchContainer {
    gap: 10px;
    height: 40px;
    display: flex;
    padding: 10px;
    flex: 1 1 auto;
    border-radius: 10px;
    align-items: center;
    border: 1px solid var(--background-dark-color);
  }

  .categoryFilterContainer {
    flex: 1 1 auto;
  }

  .searchIcon {
    font-size: 24px;
    color: var(--light-color);
  }

  .searchInput {
    width: 100%;
    border: none;
    height: 100%;
    font-size: 0.8rem;
    color: var(--light-color);
  }

  .dateFilterContainer {
    padding: 0 5px;
    flex: 1 1 auto;
    border-radius: 10px;
    border: 1px solid var(--background-dark-color);
  }

  .dateInput {
    border: none;
    height: 40px;
    padding: 10px;
    font-size: 0.8rem;
  }

  .linkIcon {
    font-size: 24px;
  }

  .linkButton {
    gap: 10px;
    width: 100%;
    display: flex;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-light-color);
  }

  .linkButton:hover {
    color: var(--background-color);
    background-color: var(--tertiary-color);
  }

  .downloadButton {
    height: 40px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--background-dark-color);
  }

  .downloadButton:hover {
    color: var(--background-color);
    border: 1px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
  }

  .downloadIcon,
  .addIcon {
    font-size: 24px;
    color: var(--light-color);
  }

  .downloadButton:hover .downloadIcon {
    color: var(--background-color);
  }

  .addButton {
    height: 40px;
    border: none;
    display: flex;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--primary-color);
  }

  .addButton:hover {
    background-color: var(--tertiary-hover-color);
  }

  .addIcon {
    font-size: 28px;
    color: var(--background-color);
  }

  .predictionActions {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .actionIcon {
    font-size: 24px;
  }

  .editButton {
    padding: 5px;
    border: none;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: var(--tertiary-color);
    background-color: var(--tertiary-light-color);
  }

  .deleteButton {
    padding: 5px;
    border: none;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    background-color: var(--secondary-light-color);
  }

  .noData {
    height: 100%;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
  }

  .slipCountsGrid {
    display: flex;
    min-height: 50px;
    overflow: hidden;
    overflow-x: auto;
    padding: 5px 10px;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
  }

  .slipCountsGrid {
    gap: 10px;
    display: flex;
    flex-direction: row;


  }

  .slipCountItem {
    padding: 5px;
    display: flex;
    height: 100%;
    min-width: 140px;
    border-radius: 4px;
    box-shadow: var(--shadow-inset);

  }

  .slipCountItem {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .noImage {
    padding: 10px;
    font-size: 0.8rem;
    color: var(--light-color);
    text-align: center;
  }

  .loadingContainer {
    width: 100%;
    height: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Using it as global style for larger devices */
@media only screen and (min-width: 48em) {
  .dashboardContainer {
    overflow: hidden;
  }
  .dateFilterContainer {
    flex: none;
  }

  .searchContainer {
    flex: none;
  }

  .categoryFilterContainer {
    flex: none;
  }

  .emptyCard {
    width: auto;
    min-width: 400px;
  }

  .content {
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
  }

  .matchPreview span {
    font-size: 0.9rem;
  }
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
