@media screen {
  .dashcardContainer {
    gap: 10px;
    display: flex;
    padding: 10px 0;
    overflow-x: auto;
    min-height: 200px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    scroll-behavior: smooth;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;  
  }

  .dashcard {
    gap: 20px;
    flex-grow: 1;
    width: 300px;
    padding: 10px;
    display: flex;
    cursor: pointer;
    min-width: 300px;
    border-radius: 15px;
    flex-direction: column;
    scroll-snap-align: center;
    color: var(--primary-color);
    justify-content: space-between;
    background-color: var(--background-color);
  }

  .dashcardactive {
    border: 0.5px solid var(--tertiary-color);
    background-color: var(--tertiary-light-color);
  }

  .dashcardwarning {
    border: 0.5px solid var(--secondary-color);
    background-color: var(--secondary-light-color);
  }

  .dashcard h2 {
    font-weight: 500;
    font-size: 1rem;
    text-align: start;
    text-transform: capitalize;
  }

  .iconWrapper {
    gap: 5px;
    display: flex;
    padding: 10px;
    min-height: 80px;
    flex-direction: column;
    border-radius:inherit ;
    box-shadow: var(--shadow-inset);
  }

  .cardIcon {
    font-size: 24px;
  }

  .cardInfo {
    display: flex;
    flex-direction: column;
  }

   .dashcard h1 {
    font-weight: 500;
    font-size: 2rem;
    text-align: start;
    text-transform: capitalize;
  }

  .dashcardactive span {
    color: var(--background-color);
    background-color: var(--tertiary-hover-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .dashcardContainer {
    justify-content: space-between;
  }

  .dashcard {
    width: 500px;
    max-width: 500px;
    min-width: 500px;
  }
}

/* iPad Pro & Laptop screens */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* Desktop and 4k screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}