@media screen {
  .dropdownContainer {
    gap: 10px;
    width: 100%;
    display: flex;
    cursor: pointer;
    position: relative;
    flex-direction: column;
  }

  .dropdownContainer span {
    font-size: 1rem;
  }

  .dropdownInput {
    gap: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    color: var(--primary-color);
    justify-content: space-between;
    background-color: var(--background-light-color);
  }

  .dropdownArea {
    gap: 10px;
    top: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    z-index: 999;
    overflow: hidden;
    max-height: 350px;
    position: absolute;
    border-radius: 15px;
    flex-direction: column;
    color: var(--primary-color);
    box-shadow: var(--shadow-box);
    background-color: var(--background-color);

  }


  .optionsList {
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    max-height: inherit;
    overflow-x: hidden;
  }

  
  .optionsList span {
    cursor: pointer;
    text-align: start;
    padding: 15px 10px;
    border-radius: 15px;
    text-transform: capitalize;
    background-color: var(--background-light-color);
  }

  .optionsList span:hover {
   color: var(--background-color);
    background-color: var(--tertiary-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
}
