@media screen {
  .dropdownContainer {
    gap: 10px;
    width: 100%;
    display: flex;
    cursor: pointer;
    position: relative;
    flex-direction: column;
  }

  .dropdownContainer span {
    font-size: 1rem;
  }

  .dropdownInput {
    width: 100%;
    border: none;
    height: 60px;
    outline: none;
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 15px;
    color: var(--primary-color);
    justify-content: space-between;
    background-color: var(--background-light-color);
  }

  .dropdownIcon {
    font-size: 24px;
  }

  .dropdownArea {
    gap: 10px;
    z-index: 99;
    width: 100%;
    padding: 10px;
    display: flex;
    overflow: hidden;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 15px;
    flex-direction: column;
    color: var(--primary-color);
    box-shadow: var(--shadow-box);
    background-color: var(--background-color);
  }

  .dropdownArea span {
    cursor: pointer;
    text-align: start;
    padding: 15px 10px;
    border-radius: 15px;
    text-transform: capitalize;
    background-color: var(--background-light-color);
  }

  .dropdownArea span:hover {
    color: var(--background-color);
    background-color: var(--tertiary-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
}
