@media screen {
  .loadingComponent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
  }

  .loaderIcon {
    font-size: 3rem;
    color: var(--primary-color);
    animation: sparkle 2s ease-in-out infinite;
  }

  @keyframes sparkle {
    0%, 100% {
      transform: rotate(0deg) scale(1);
      opacity: 1;
    }
    50% {
      transform: rotate(180deg) scale(1.2);
      opacity: 0.8;
    }
  }

  }

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
