@media screen {
  .pageLayout {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    position: fixed;
    overflow: hidden;
  }

  .pageContent {
    gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    overflow-y: auto;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .pageLayout {
    display: flex;
  }

}
